h1{
    color: white;
    text-align: center;
    border: 5px solid white;
}

.form-popup{
    display: none;
}

h2{
    color: white;
    text-align: center;
    border: 2px solid white;
    margin-left: 5px;
    margin-right: 5px;
}

.form-container{
    height: 375px;
    width: 225px;
    float: right;
    bottom: 0;
}

.form-container #newQuote{
    margin-bottom: 1%;
    margin-right: 10%;
    float: right;
    width: 210px;
    height: 50px;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    border-radius: 7px;
    background-color: lightgreen;
    color: white;
}

#myForm{
    margin-right: 10%;
    border: 5px solid white;
    border-radius: 5px;
    float: right;
    text-align: center;
}

#addQuote{
    width: 150px;
    height: 25px;
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    border-radius: 7px;
    background-color: lightgreen;
    color: white;
}

input{
    height: 50px;
    width: 200px;
    border-radius: 5px;
}


label{
    color: white;
}
.background{
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1519773250401-ecb76e52506e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size:100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 80%;
}

#library{  
    list-style-type:none;
    font-display: none;
    float: left;
    color: black;
    text-align: center;
}

#library{
    font-size: 20px;
    padding: 20px;
    color: white;
    background-color: transparent;
    max-height: 700px;
    max-width: 1000px;
}



.animated{
    position: relative;
    background-color: rgb(42, 148, 219);
    opacity: 75%;
   
}

#contain .remove{
    background-color: rgb(255, 104, 104);
    float: right;
    border-radius: 5px;
    color: white;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}

#library{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#library div{
    margin-left: 1%;
    display: block;
    border: 5px solid white;
    margin-bottom: 2%;
    border-radius: 5px;
    width: 300px;
    height: 100px;
}


@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }


.fade li{
    transition: all 0.4s ease-out;
    opacity: 0;
    
}
.fade li.show{
    opacity: 1;
}

.open{
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}